#{extends 'main.html' /}
#{set title:'Trainer Dashboard' /}

#{menu id:"trainerDashboard"/}

<table class="ui fixed table">

    <tbody>
    <div class="ui bulleted list">
        #{list items:members, as:'members'}
        <tr>
            <td>
                <i class="small user icon"></i>
                <a href="/trainerDashboard/${trainer.id}/memberAssessment/${members.id}">${members.firstName} ${members.lastName}</a>
                <br>
                ${members.assessment.size()} assessments
            </td>
            <td class="right aligned">
                <i class="large red trash icon"></i>
            </td>
        </tr>
        #{/list}
    </div>
    </tbody>
</table>
